/*一个个一次设置一次,相互重叠的属性,后面的可以覆盖前面的*/
[name|="val"]{
	color:red;
}
[name~="val"]{
	color:green;
}
[name*="val"]{
	color:blue;
    font-size:20px;
}
[name^="val"]{
	color:grey;
	font-size:20px;
}
[name$="val"]{
	color:pink;
	font-size:20px;
}